.root{
    -fx-font-family: "Segoe UI Semibold";
}

.menu-bar {
    -fx-pref-height: 35px;
    -fx-alignment: center;
}

.title{
    -fx-font-size: 32px;
}

.sub-title{
    -fx-font-size: 24px;
}

.warning{
    -fx-fill: red;
}

.warning-vbox{
    -fx-border-color: red;
    -fx-padding: 10px;
}

.confirmation{
    -fx-fill: #7CFC00;
}

.button, .text-field, .choice-box, .menu-item, .tooltip, .accordion, .list-view {
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}

.button:focused, .text-field:focused, .choice-box:focused, .menu-item:focused {
    -fx-effect: dropshadow(one-pass-box, rgba(253, 250, 250, 0.5), 5, 0, 0, 0); /* Softer shadow for focused */
}

.button:hover, .text-field:hover, .choice-box:hover {
    -fx-translate-y: -4;
    -fx-translate-x: -4;
    -fx-effect: dropshadow(one-pass-box, rgb(253, 250, 250), 10, 0, 0, 1); /* Stronger shadow for hover */
}

.button:pressed, .choice-box:pressed {
    -fx-translate-y: 0;
    -fx-translate-x: 0;
    -fx-effect: dropshadow(one-pass-box, rgb(35, 255, 0), 10, 0, 0, 1);
}

.button{
    -fx-font-family: "System";
    -fx-font-weight: bold;
}

.text-field{
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%); /* This makes prompt visible even when text field is selected */
}

.menu-item:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-effect: dropshadow(one-pass-box, rgb(253, 250, 250), 10, 0, 0, 1); /* Stronger shadow for hover */
}

.menu-item:pressed {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-effect: dropshadow(one-pass-box, rgb(35, 255, 0), 10, 0, 0, 1);
}

.list-cell {
    -fx-background-color: transparent;
}