/*global styling for all types of attributes*/

.root{
    -fx-background-color: gradient;
    gradient: linear-gradient(to bottom, #fdfafa, #565252);
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-pref-height: 720px;
    -fx-pref-width: 1080px;
}

.label{
    -fx-text-fill: white;
    -fx-border-radius: 200px;
}

.button{
    -fx-background-color: #000000;
    -fx-border-color: #ff0000;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}

.text-field{
    -fx-background-color: #373765;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: #515198;
    -fx-border-width: 2px;
}

.combo-box{
    -fx-background-color: #373765;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: #515198;
    -fx-border-width: 2px;
}

.combo-box .arrow {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-prompt-text-fill: light grey;
}

.combo-box .combo-box-popup .list-view .list-cell {
    -fx-text-fill: black;
}

.tooltip{
    -fx-background-color: #373765;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: #515198;
    -fx-border-width: 2px;
}

.date-picker .html-editor {
    -fx-text-fill: white;
}

.check-box {
    -fx-text-fill: white;
}

/*Table Styling*/
/*style="-fx-background-radius: 20px; -fx-border-radius: 10px; -fx-border-width: 5px;" AnchorPane.bottomAnchor="50.0" AnchorPane.rightAnchor="50.0" AnchorPane.topAnchor="50.0"*/
/*style="-fx-background-radius: 20px; -fx-border-radius: 20px; -fx-border-width: 10px;"*/
.table-view{
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #5f5f8c, #4e4e8c);
    -fx-background-radius: 10px 10px 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .arrow {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 2 20px 2 10px;
}

.table-row-cell:odd{
    -fx-background-color: #0A0A0A0A;
    -fx-text-fill: white;
    -fx-background-insets: 0 4px 0 0;
    -fx-padding: 0 0 0 1;
}

.table-row-cell:even{
    -fx-background-color: #0A0A0A1A;
    -fx-text-fill: white;
    -fx-background-insets: 0 4px 0 0;
    -fx-padding: 0 0 0 1;
}

.table-row-cell:selected{
    -fx-background-color: #E1E1E119;
    -fx-text-fill: white;
    -fx-background-insets: 0 4px 0 0;
    -fx-padding: 0 0 0 1;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: linear-gradient(to top, #5f5f8c, #4e4e8c);
    -fx-background-radius: 0 0 10px 10px;
    -fx-background-insets: 0 2px 0 0;
    -fx-padding: 0;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, #5f5f8c, #4e4e8c);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}

/*Specific styling for certain objects*/


/*EventOverview*/

/*the color of the copiedLabel*/
#copiedLabel{
    -fx-text-fill: #7CFC00;
}

/*the participantsTable on event page*/
#colParticipantFullName{
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
}

/*button on the bottom of tables for deletion*/
#deleteExpenseButton{
    -fx-text-fill: red;
}

/*button on the bottom of tables for deletion*/
#deleteParticipantButton{
    -fx-text-fill: red;
}

#titleErrorMessage{
    -fx-text-fill: red;
}

#descriptionErrorMessage{
    -fx-text-fill: red;
}

/*HomeOverview*/

#SplittyLogo{
    -fx-background-color: transparent;
    /*-fx-background-image: url("/client/images/SplittyLogo.png");*/
    -fx-background-size: 100px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/*addEvent*/

#descriptionErrorMessageAddEvent{
    -fx-text-fill: red;
}

#titleErrorMessageAddEvent{
    -fx-text-fill: red;
}

/*addExpense*/

#currency {
    -fx-font-size: 10px;
}
