/*global styling for all types of attributes*/

.root{
    -fx-background-color: gradient;
    gradient: linear-gradient(to bottom, #1a1a1a, #232341);
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-pref-height: 720px;
    -fx-pref-width: 1080px;
}

.label{
    -fx-text-fill: white;
    -fx-border-radius: 200px;
}

.button{
    -fx-background-color: #373765;
    -fx-border-color: #515198;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-transition: transform 0.3s ease;
}

.button:hover, .button:focused {
    -fx-effect: dropshadow(one-pass-box, rgba(253, 250, 250, 0.5), 5, 0, 0, 0); /* Softer shadow for focused */
}

.button:hover {
    -fx-translate-y: -4;
    -fx-translate-x: -4;
    -fx-effect: dropshadow(one-pass-box, rgb(253, 250, 250), 10, 0, 0, 1); /* Stronger shadow for hover */
}

.button:pressed{
    -fx-translate-y: 0;
    -fx-translate-x: 0;
    -fx-effect: dropshadow(one-pass-box, rgb(35, 255, 0), 10, 0, 0, 1);
}

.text-field{
    -fx-background-color: #373765;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: #515198;
    -fx-border-width: 2px;
}

.text-field:hover, .text-field:focused {
    -fx-effect: dropshadow(one-pass-box, rgba(253, 250, 250, 0.5), 5, 0, 0, 0); /* Softer shadow for focused */
}

.text-field:hover {
    -fx-translate-y: -4;
    -fx-translate-x: -4;
    -fx-effect: dropshadow(one-pass-box, rgb(253, 250, 250), 10, 0, 0, 1); /* Stronger shadow for hover */
}

.combo-box{
    -fx-background-color: #373765;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: #515198;
    -fx-border-width: 2px;
}

.combo-box:hover, .combo-box:focused {
    -fx-effect: dropshadow(one-pass-box, rgba(253, 250, 250, 0.5), 5, 0, 0, 0); /* Softer shadow for focused */
}

.combo-box:hover {
    -fx-translate-y: -4;
    -fx-translate-x: -4;
    -fx-effect: dropshadow(one-pass-box, rgb(253, 250, 250), 10, 0, 0, 1); /* Stronger shadow for hover */
}

.combo-box:pressed{
    -fx-translate-y: 0;
    -fx-translate-x: 0;
    -fx-effect: dropshadow(one-pass-box, rgb(35, 255, 0), 10, 0, 0, 1);
}

.combo-box .arrow {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-prompt-text-fill: light grey;
}

.combo-box .combo-box-popup .list-view .list-cell {
    -fx-text-fill: black;
}


.tooltip{
    -fx-background-color: #373765;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: #515198;
    -fx-border-width: 2px;
}

.date-picker .html-editor {
    -fx-text-fill: white;
}

.check-box {
    -fx-text-fill: white;
}

/* Style Accordion */

.accordion {
    -fx-background-color: #373765;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}

.accordion .titled-pane {
    -fx-max-height: 50px;
    -fx-border-color: #515198;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-alignment: left;
}

.accordion .titled-pane .title {
    -fx-background-color: lightblue;
}

.accordion .titled-pane .content {
    -fx-background-color: white;
}

.accordion .titled-pane .content .text-area:disabled {
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.error-message {
    -fx-text-fill: red;
}



/*Table Styling*/
.table-view{
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #5f5f8c, #4e4e8c);
    -fx-background-radius: 10px 10px 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .arrow {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 2 20px 2 10px;
    -fx-background-insets: 0 4px 0 0;
}

.table-row-cell:odd{
    -fx-background-color: #AAAAAA0A;
    -fx-text-fill: white;
    -fx-background-insets: 0 4px 0 0;
    -fx-padding: 0 0 0 1;
}

.table-row-cell:even{
    -fx-background-color: #AAAAAA06;
    -fx-text-fill: white;
    -fx-background-insets: 0 4px 0 0;
    -fx-padding: 0 0 0 1;
}

.table-row-cell:selected{
    -fx-background-color: #AAAAAA1A;
    -fx-text-fill: white;
    -fx-background-insets: 0 4px 0 0;
    -fx-padding: 0 0 0 1;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: linear-gradient(to top, #5f5f8c, #4e4e8c);
    -fx-background-radius: 0 0 10px 10px;
    -fx-background-insets: 0 2px 0 0;
    -fx-padding: 0;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, #5f5f8c, #4e4e8c);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 10px
}

.tab {
    -fx-background-color: linear-gradient(to bottom, #494970, #38386c);
    -fx-background-radius: 5px 5px 0 0;
}

.tab:selected {
    -fx-background-color: linear-gradient(to bottom, #5f5f8c, #4e4e8c);
}

.tab:selected .focus-indicator {
    -fx-border-radius: 5px 5px 0 0;
}

.tab .tab-label {
    -fx-text-fill: white;
}

/*pieChart styling*/
.chart {
    -fx-legend-visible: false
}

.chart-pie {
    -fx-border-color: white;
}

.chart-pie-label-line {
    -fx-stroke: white;
    -fx-border-color: red;
}

.chart-pie-label {
    -fx-fill: white;
    -fx-font-size: 1em;
}

.color-picker .arrow-button {
    -fx-background-color: #373765;
    -fx-text-fill: white;
    -fx-border-radius: 0 5px 5px 0;
    -fx-border-color: #515198 #515198 #515198 #373765;
    -fx-border-width: 2px 2px 2px 0;
}

.color-picker .arrow-button .arrow {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.color-picker .color-picker-label {
    -fx-background-color: #373765;
    -fx-text-fill: white;
    -fx-border-radius: 5px 0 0 5px;
    -fx-border-color: #515198 #373765 #515198 #515198;
    -fx-border-width: 2px;
}

/*Specific styling for certain objects*/


/*EventOverview*/

/*the color of the copiedLabel*/
#copiedLabel{
    -fx-text-fill: #7CFC00;
}

/*the participantsTable on event page*/
#colParticipantFullName{
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
}

/*button on the bottom of tables for deletion*/
#deleteExpenseButton{
    -fx-text-fill: red;
}

/*button on the bottom of tables for deletion*/
#deleteParticipantButton{
    -fx-text-fill: red;
}

#titleErrorMessage{
    -fx-text-fill: red;
}

#descriptionErrorMessage{
    -fx-text-fill: red;
}

#filterLabel {
    -fx-font-size: 16px;
}

/*HomeOverview*/

#SplittyLogo{
    -fx-background-color: transparent;
    /*-fx-background-image: url("/client/images/SplittyLogo.png");*/
    -fx-background-size: 100px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/*addEvent*/

#descriptionErrorMessageAddEvent{
    -fx-text-fill: red;
}

#titleErrorMessageAddEvent{
    -fx-text-fill: red;
}

/*addExpense*/

#currency {
    -fx-font-size: 10px;
}

.undoButton {
    -fx-font-size: 18px;
}

#languageBox {
    -fx-min-width: 140px;
}

